body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4151c;
    color: white;
    padding: 0 20px;
    height: 60px;
}

.navbar-left {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.navbar-left img {
    height: 20px;
    margin-right: 10px;
}

.navbar-left span {
    font-weight: bold;
    font-size: 15px;
    margin-right: 500px;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.divider {
    height: 30px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
}


/* Carte des pilotes */

.classement {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.pilote {
    width: 280px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    text-align: center;
}

.pilote .top {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.2rem;
}

.pilote .points {
    text-align: right;
    color: #000;
}

.pilote .points span {
    font-size: 0.8rem;
}

.pilote .rang {
    font-size: 2rem;
    font-weight: bold;
}

.pilote .info {
    padding: 10px;
}

.prenom {
    display: block;
    font-size: 1rem;
    color: #555;
}

.nom {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.drapeau {
    width: 30px;
    margin-top: 5px;
}

.equipe {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 10px;
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.numero {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
    color: orange;
}


/* Couleurs par pilote */

.piastri {
    border-top: 5px solid #ff8000;
}

.norris {
    border-top: 5px solid #ffb347;
}

.verstappen {
    border-top: 5px solid #0033cc;
}